.HelloWorld {
    border: 6px solid black;
    text-align: center;
    background: #c7e3f7;
    color: #333;
    margin: 20px;
    padding: 20px;
  }

  button {
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
  }